#include "resource.h"

IDI_APP_ICON ICON "QuickFileCopy.ico"
IDR_APP_HTML RCDATA "QuickFileCopy.html"

1 VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "041104B0"
    BEGIN
      VALUE "CompanyName", "QuickFileCopy Project\0"
      VALUE "FileDescription", "QuickFileCopy - Native High-Speed File Copy\0"
      VALUE "FileVersion", "1.1.0\0"
      VALUE "InternalName", "QuickFileCopy\0"
      VALUE "LegalCopyright", "Copyright (C) 2026 QuickFileCopy contributors\0"
      VALUE "OriginalFilename", "QuickFileCopy.exe\0"
      VALUE "ProductName", "QuickFileCopy\0"
      VALUE "ProductVersion", "1.1.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0411, 1200
  END
END
